body {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
span {
  font-style: italic;
}
.page-rows img {
  height: 500px; 
  object-fit: cover; 
}
#softskills {
  border-right: 2px solid #ccc;
}
@media screen and (max-width: 768px) { 
  #softskills {
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
  .text-carousel {
    height: 300px;
  }
  .page-rows img {
    height: 300px; 
    object-fit: cover; 
  }
}