body {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
.page-rows img {
  height: 500px; 
  object-fit: cover; 
}
.row .col-md-6 {
  border-right: 2px solid #ccc;
  
}
.timeline {
  position: relative;
  padding-left: 50px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}

.timeline-item .timeline-icon {
  position: relative;
  top: 0;
  left: 0;
}
.text-carousel {
  padding-left: 11rem;
}
@media screen and (max-width: 768px) { 
  .row .col-md-6 {
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
  .text-carousel {
    height: 350px;
    padding-left: 3rem;
  }
  .page-rows img {
    height: 350px; 
    object-fit: cover; 
  }
}